@import 'titles.scss';
@import 'navbar.scss';
@import 'blogs.scss';
@import 'create.scss';

a {
  text-decoration: none; /* no underline */;
  color: rgb(106, 41, 41);
  &:hover {
    color: red;
  }
}
